@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Reset da página home*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   
    font-family: 'Roboto', sans-serif;
    font-weight: bold
}

body {
    background-color: #E8E8E8;
}

.container-left {
    width: 50%;
    height: 960px;
    background-color: #C0C0C0;
    text-align: center;
}

.img-right img {
    display: flex;
    width: 106px;
    height: 106px;
    margin: 10px;
}

.login {
    border: none;
    background-color: greenyellow;
    width: 200px;
    height: 40px;
}

input {
    width: 150px;
    height: 30px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #C0C0C0;
}